[Desktop Entry]
Encoding=UTF-8
Name=Factor
Comment=Factor P2P Cryptocurrency
Comment[fr]=Factor, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Factor, eşten eşe kriptografik sanal para birimi
Exec=factor-qt %u
Terminal=false
Type=Application
Icon=factor128
MimeType=x-scheme-handler/factor;
Categories=Office;Finance;
